div.head{
    background-color: black;
    margin-left: 20%;
    margin-right: 20%;
    height: 150px;
    border-radius: 5px;
    border: solid red 5px;
    color: rgb(190, 190, 8);
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}
div.head:hover{
    color: yellow;
    cursor: pointer;
}
div.head2{
    background-color: black;
    margin-left: 20%;
    margin-right: 20%;
    height: 150px;
    border-radius: 5px;
    border: solid red 5px;
    color: rgb(190, 190, 8);
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}
div.imageCustom{
    height: 488px;
    width: 867px;
    margin: auto;
    text-align: center;
    box-shadow:7px 7px 7px 7px red;
    margin-bottom: 40px;
}

